.card{
    padding: 0px;
    margin: 15px 10px;
    border-radius: 16px;
    
    background-color: red;
}

.small{
    grid-row-end: span 26;
}

.medium{
    grid-row-end: span 33;
}

.large{
    grid-row-end: span 45;
}
